<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Python</title>
    <link rel="stylesheet" href="{% static 'style-kirish.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#chk1').click(function(){
                $('.sidenav').toggleClass('show');
            });
        });
    </script>
</head>
<body>
    <header>
        <input type="checkbox" name="" id="chk1">
        <div class="logo" ><h1><a href="{% url 'kirish' %}"><b>Python</b> course</a></h1></div>
        <div class="search-box">
            <form action="">
                <input type="text" name="search" id="srch" placeholder="Search...">
                <button type="sumbit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>

    <div class="sidenav">
        <h2 style="padding-top: 100px; text-align: center;">PYTHON</h2>
        <a href="{% url 'kirish' %}">Введение в Python</a>
        <a href="{% url 'ornatish' %}">Установка</a>
        <a href="{% url 'izoh' %}">Комментарии</a>
        <a href="{% url 'ozgaruvchi' %}">Переменная</a>
        <a href="{% url 'malumot_turi' %}">Типы данных</a>
        <a href="{% url 'sonlar' %}">Числа</a>
        <a href="{% url 'satr' %}">Строка</a>
        <a href="{% url 'mantiq' %}">Boolean (Логика)</a>
        <a href="{% url 'operator' %}">Операторы</a>
        <a href="{% url 'list' %}" style="background-color: rgb(18, 248, 18); color: black;">Список</a>
        <a href="{% url 'tuple' %}">Кортеж</a>
        <a href="{% url 'set' %}">Множество</a>
        <a href="{% url 'if' %}">Условный оператор</a>
        <a href="{% url 'funksiya' %}">Функция</a>
        <a href="{% url 'while' %}">Цикл</a>
        <a href="{% url 'massiv' %}">Массив</a>
        <a href="{% url 'sinfobject' %}">Классы и объекты</a>
        <a href="{% url 'meros' %}">Наследование</a>
        <a href="{% url 'modul' %}">Модуль</a>
        <a href="{% url 'data' %}">Дата и время</a>
        <a href="{% url 'json' %}">JSON</a>
        <a href="{% url 'try' %}">Try Except</a>
        <a href="{% url 'fayl' %}">Работа с файлами</a>
        <a href="{% url 'index' %}">Тест для сертификата </a>
        <a href="{% url 'create_question' 1 %}">Создать тест</a>
    </div>
    <div class="main">
        <h1 style="padding-top: 100px;">List (Список) <span>Python</span></h1> <br> <hr><br>
        <p>Язык программирования <b>Python</b> имеет четыре набора данных:</p><br>
        <ul>
            <li><b>List</b> - это набор, который можно изменить. Допускает повторных участников.</li>
            <li><b>Tuple</b> - это инвариантное множество. Допускает повторных участников.</li>
            <li><b>Set</b> - это набор, который не отсортирован и не пересмотрен. Нет повторяющихся членов.</li>
            <li><b>Dictionary</b> - это неупорядоченный, изменяемый и индексируемый набор. Нет повторяющихся членов.</li>
        </ul><br>
        
        <p class="abbo"><b>List - Набор данных.</b></p><br><br><hr><br>
        <p class="sari"><b>List</b> - это набор, который можно изменить. В Python списки записываются в квадратных скобках.</p><br><hr><br><br>

        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br> print(thislist)</p><br>
        <p class="rez">Результат: <p class="nat">['apple', 'banana', 'cherry']</p></p><br><br><br>
        
        <p class="abbo"><b>Ссылка на индексный номер</b></p><br>
        <p>Вы можете получить доступ к элементам списка, обратившись к номеру индекса:</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br> print(thislist[1])</p><br>
        <p class="rez">Результат: <p class="nat">banana</p></p><br><br><br>

        <p class="abbo"><b>Обращение к номеру обратного индекса.</b></p><br>
        <p>Обратная индексация относится к концу до начала <b>-1</b>, последнему предложению, <b>-2</b> второму последнему предложению и так далее.</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br> print(thislist[-1])</p><br>
        <p class="rez">Результат: <p class="nat">cherry</p></p><br><br><br>
        
        <p class="abbo"><b>Диапазон индексов.</b></p><br>
        <p>Вы можете указать диапазон индексов, указав, где они должны начинаться, а где заканчиваться. При определении диапазона возвращаемое значение образует новый список с указанными элементами.</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] <br> print(thislist[2:5])</p><br>
        <p class="rez">Результат: <p class="nat">['cherry', 'orange', 'kiwi']</p></p><br><br><hr><br>
        
        <p class="sari"><b>Примечание: </b>поиск начинается с индекса 2 (включительно) и заканчивается индексом 5 (не включается).</p><br><hr><br><br>

        <p class="abbo"><b>Проверка значения из списка.</b></p><br>
        <p>Используйте ключевое слово, чтобы определить, присутствует ли выделенный элемент в списке <b>in</b>.</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br> if "apple" in thislist: <br><span style="margin-left: 24px;">print("Yes, 'apple' is in the fruits list")</span></p><br>
        <p class="rez">Результат: <p class="nat">Yes, 'apple' is in the fruits list</p></p><br><br><br>
        
        <p class="abbo"><b>Длина списка.</b></p><br>
        <p><b>List</b> используйте эту функцию, чтобы определить, сколько элементов доступно в <b>len()</b>:</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br>print(len(thislist))</p><br>
        <p class="rez">Результат: <p class="nat">3</p></p><br><br><br>
        
        <p class="abbo"><b>Добавление элементов.</b></p><br>
        <p>Чтобы добавить что-то в конец списка <b>append()</b>, используйте метод:</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br>thislist.append("orange") <br>print(len(thislist))</p><br>
        <p class="rez">Результат: <p class="nat">['apple', 'banana', 'cherry', 'orange']</p></p><br><br><br>
        
        <p class="abbo"><b>Удаление элемента.</b></p><br>
        <p>Есть несколько способов удалить элементы из списка: <b>remove()</b> метод очищает указанный объект:</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br>thislist.append("banana") <br>print(len(thislist))</p><br>
        <p class="rez">Результат: <p class="nat">['apple', 'cherry']</p></p><br><br>
        
        <p>Метод <b>pop()</b> удаляет указанный каталог (или последний элемент, если индекс не указан) :</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br>thislist.pop() <br>print(len(thislist))</p><br>
        <p class="rez">Результат: <p class="nat">['apple', 'banana']</p></p><br><br>
        
        <p>Ключевое слово <b>del()</b> указанный каталог будет удален:</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br>del.thislist[0] <br>print(len(thislist))</p><br>
        <p class="rez">Результат: <p class="nat">['banana', 'cherry']</p></p><br><br><hr><br>
        
        <p class="sari"><b>Примечание: </b> Вы также можете удалить список с помощью ключевых слов <b>del</b> навсегда:</p><br><hr><br><br>

        <p>Метод <b>clear()</b> очищает список:</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br>thislist.clear() <br>print(len(thislist))</p><br>
        <p class="rez">Результат: <p class="nat">[ ]</p></p><br><br><br>
        
        <p class="abbo"><b>Скопируйте список.</b></p><br>
        <p>Потому что вы не можете просто скопировать список записей <b>list2 = list1</b>: <b>list2</b> только для записей, которые умирают <b>list1</b>, и <b>list1</b> внесенные изменения также автоматически <b>list2</b>. Есть способы копирования, Один из них - использовать встроенный метод списка <b>copy()</b>.</b>.</p><br>
        <p class="qoro">thislist = ["apple", "banana", "cherry"] <br> mylist = thislist.copy() <br> print(mylist)</p><br>
        <p class="rez">Результат: <p class="nat">['apple', 'banana', 'cherry']</p></p><br><br><br>
        
        <p class="abbo"><b>Добавление двух списков.</b></p><br>
        <p>В Python есть несколько способов объединить или связать два или более списков. Один из самых простых способов <b>+</b> использовать оператор .</p><br>
        <p class="qoro">list1 = ["a", "b", "c"] <br>list2 = [1, 2, 3] <br><br>list3 = list1 + list2 <br>print(list3)</p><br>
        <p>Другой способ добавить два списка - добавить все элементы из списка 2 в list1 один за другим.</p><br>
        <p class="qoro">list1 = ["a", "b", "c"] <br>list2 = [1, 2, 3] <br><br>for x in list2: <br><span style="margin-left: 24px;">list1.append(x)</span> <br><br>print(list1)</p><br>
        
        <p>Или вы можете использовать метод <b>extend()</b> для добавления элементов из одного списка в другой список: Используйте метод <b>extend()</b> для добавления list2 в конец 1-го списка :</p><br>
        <p class="qoro">list1 = ["a", "b" , "c"] <br>list2 = [1, 2, 3] <br><br>list1.extend(list2) <br>print(list1)</p>
    </div>
    <footer>
        <h3><b>Uzbek Developers</b></h3><hr>
        <p>2024 © <a href="{% url 'kirish' %}"><b style="color: black;">Myblog IT</b></a></p>
        <p>Created by Muzaffar Bekturdiyev</p>
    </footer>
</body>
</html>