<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Множество Python</title>
    <link rel="stylesheet" href="{% static 'style-kirish.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#chk1').click(function(){
                $('.sidenav').toggleClass('show');
            });
        });
    </script>
</head>
<body>
    <header>
        <input type="checkbox" name="" id="chk1">
        <div class="logo" ><h1><a href="{% url 'kirish' %}"><b>Python</b> course</a></h1></div>
        <div class="search-box">
            <form action="">
                <input type="text" name="search" id="srch" placeholder="Search...">
                <button type="sumbit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>

    <div class="sidenav">
        <h2 style="padding-top: 100px; text-align: center;">PYTHON</h2>
        <a href="{% url 'kirish' %}">Введение в Python</a>
        <a href="{% url 'ornatish' %}">Установка</a>
        <a href="{% url 'izoh' %}">Комментарии</a>
        <a href="{% url 'ozgaruvchi' %}">Переменная</a>
        <a href="{% url 'malumot_turi' %}">Типы данных</a>
        <a href="{% url 'sonlar' %}">Числа</a>
        <a href="{% url 'satr' %}">Строка</a>
        <a href="{% url 'mantiq' %}">Boolean (Логика)</a>
        <a href="{% url 'operator' %}">Операторы</a>
        <a href="{% url 'list' %}">Список</a>
        <a href="{% url 'tuple' %}">Кортеж</a>
        <a href="{% url 'set' %}" style="background-color: rgb(18, 248, 18); color: black;">Множество</a>
        <a href="{% url 'if' %}">Условный оператор</a>
        <a href="{% url 'funksiya' %}">Функция</a>
        <a href="{% url 'while' %}">Цикл</a>
        <a href="{% url 'massiv' %}">Массив</a>
        <a href="{% url 'sinfobject' %}">Классы и объекты</a>
        <a href="{% url 'meros' %}">Наследование</a>
        <a href="{% url 'modul' %}">Модуль</a>
        <a href="{% url 'data' %}">Дата и время</a>
        <a href="{% url 'json' %}">JSON</a>
        <a href="{% url 'try' %}">Try Except</a>
        <a href="{% url 'fayl' %}">Работа с файлами</a>
        <a href="{% url 'index' %}">Тест для сертификата </a>
        <a href="{% url 'create_question' 1 %}">Создать тест</a>
    </div>
    <div class="main">
        <h1 style="padding-top: 100px;">Set (Множество) <span>Python</span></h1> <br> <hr><br>
        <p><a href="{% url 'list' %}"><b>Язык программирования Python имеет четыре набора данных.</b></a></p>
        <p><b>Set</b> - это неупорядоченное и неиндексированное множество. В Python коллекции записываются фигурными скобками.</p><br>
        <p class="qoro">thisset = ("apple", "banana", "cherry") <br> print(thisset)</p><br><br><hr><br>

        <p class="sari"><b>Примечание:</b> Наборы неупорядочены, поэтому вы не можете быть уверены, в каком порядке будут отображаться элементы.</p><br><hr><br><br>
        
        <p class="abbo"><b>Элементы ввода.</b></p><br>
        <p>Вы не можете получить доступ к множеством с индексом или ключевым словом. Но вы можете с помощью <b>tsikl</b> просматривать элементы.</p><br>
        <p class="qoro">thisset = {"apple", "banana", "cherry"} <br>for x in thisset: <br><span style="margin-left: 24px;">print(x)</span></p><br>
        <p class="rez">Результат: <p class="nat">cherry <br>banana <br>apple</p></p><br><br>
        
        <p>Чтобы проверить, есть ли элемент в <b>set</b>, мы можем применить следующий путь.</p><br>
        <p class="qoro">thisset = {"apple", "banana", "cherry"} <br> print("banana" in thisset)</p><br>
        <p class="rez">Результат: <p class="nat">True</p></p><br><br>
        
        <p>После создания коллекции вы не можете изменять ее элементы, но можете добавлять новые.</p><br>
        <p>Используйте метод <b>add()</b>, чтобы добавить один элемент в множество Вы можете использовать функцию <b>update()</b>, если хотите добавить несколько элементов в коллекцию.</p><br><br>
        <p class="qoro">thisset = {"apple", "banana", "cherry"} <br>thisset.add("orange") <br>print(thisset)</p><br>
        <p class="rez">Результат: <p class="nat">{'apple', 'orange', 'cherry', 'banana'}</p></p><br><br>
        <p class="qoro">thisset = {"apple", "banana", "cherry"} <br>thisset.update(["orange", "mango", "grapes"]) <br>print(thisset)</p><br>
        <p class="rez">Результат: <p class="nat">{'orange', 'apple', 'grapes', 'cherry', 'mango', 'banana'}</p></p><br><br><br><br>
        
        <p>Мы используем функцию <b>len()</b>, чтобы определить, сколько элементов в множество.</p><br>
        <p class="qoro">thisset = {"apple", "banana", "cherry"} <br> print(len(thisset))</p><br>
        <p class="rez">Результат: <p class="nat">3</p></p><br><br>
        
        <p>Чтобы удалить элемент из набора, используйте метод <b>remove()</b> или <b>discard()</b>.</p><br>
        <p class="qoro">thisset = {"apple", "banana", "cherry"} <br>thisset.remove("banana") <br>print(thisset)</p><br>
        <p class="rez">Результат: <p class="nat">{'cherry', 'apple'}</p></p><br><br><hr><br>

        <p class="sari"><b>Примечание:</b> Если удаляемый элемент недоступен, <b>remove()</b> возникает ошибка. <b>discard()</b> ошибка в функции не возникает.</p><br><hr><br><br>

        <p>Удалите "банан" следующим способом <b>discard()</b>:</p><br>
        <p class="qoro">thisset = {"apple", "banana", "cherry"} <br>thisset.discard("banana") <br>print(thisset)</p><br>
        <p class="rez">Результат: <p class="nat">{'cherry', 'apple'}</p></p><br><br>
        
        <p>Вы можете <b>pop()</b> использовать его для удаления элемента, но этот метод удалит последний элемент. Помните, что множество беспорядочные, поэтому вы не будете знать, какой элемент будет удален. Возвращаемое значение метода <b>pop()</b> это удаленный элемент.</p><br>
        <p class="qoro">thisset = {"apple", "banana", "cherry"} <br>x = thisset.pop() <br>print(x) <span style="color: gainsboro;">#удаленные состояние </span><br> print(thisset) <span style="color: gainsboro;"># предыдущее состояние</span></p><br>
        <p class="rez">Результат: <p class="nat">banana <br>{'cherry', 'apple'}</p></p><br><br>
        
        <p>В языке программирования Python есть несколько способов добавить два или более множество(set). Вы можете использовать такие функции, как <b>union()</b> и <b>update()</b>.</p><br><br><hr><br>
        
        <p class="sari"><b>Примечание:</b> <b>union()</b> и <b>update()</b> исключает любые дубликаты данных.</p><br><hr><br><br>

        <p class="qoro">set1 = {"a", "b" , "c"} <br>set2 = {1, 2, 3} <br><br>set1.update(set2) <br>print(set1)</p><br>
        <p class="rez">Результат: <p class="nat">{1, 2, 3, 'b', 'c', 'a'}</p></p><br><br>

        <p><b>set()</b> использует конструктор для создания соответствующего <b>set</b> множество.</p><br>
        <p class="qoro">thisset = set(("apple", "banana", "cherry")) <br> print(thisset)</p><br>
        <p class="rez">Результат: <p class="nat">{'banana', 'cherry', 'apple'}</p></p><br><br><br>
        
        <p class="abbo"><b>Python имеет встроенный набор функций, которые вы можете использовать в пакетах.</b></p><br><br>
        <p>
            <img src="{% static 'image/set-1.png' %}" alt="">
        </p><hr><br>
    </div>
    <footer>
        <h3><b>Uzbek Developers</b></h3><hr>
        <p>2024 © <a href="{% url 'kirish' %}"><b style="color: black;">Myblog IT</b></a></p>
        <p>Created by Muzaffar Bekturdiyev</p>
    </footer>
</body>
</html>