<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Условный оператор Python</title>
    <link rel="stylesheet" href="{% static 'style-kirish.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#chk1').click(function(){
                $('.sidenav').toggleClass('show');
            });
        });
    </script>
</head>
<body>
    <header>
        <input type="checkbox" name="" id="chk1">
        <div class="logo" ><h1><a href="{% url 'kirish' %}"><b>Python</b> course</a></h1></div>
        <div class="search-box">
            <form action="">
                <input type="text" name="search" id="srch" placeholder="Search...">
                <button type="sumbit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>

    <div class="sidenav">
        <h2 style="padding-top: 100px; text-align: center;">PYTHON</h2>
        <a href="{% url 'kirish' %}">Введение в Python</a>
        <a href="{% url 'ornatish' %}">Установка</a>
        <a href="{% url 'izoh' %}">Комментарии</a>
        <a href="{% url 'ozgaruvchi' %}">Переменная</a>
        <a href="{% url 'malumot_turi' %}">Типы данных</a>
        <a href="{% url 'sonlar' %}">Числа</a>
        <a href="{% url 'satr' %}">Строка</a>
        <a href="{% url 'mantiq' %}">Boolean (Логика)</a>
        <a href="{% url 'operator' %}">Операторы</a>
        <a href="{% url 'list' %}">Список</a>
        <a href="{% url 'tuple' %}">Кортеж</a>
        <a href="{% url 'set' %}">Множество</a>
        <a href="{% url 'if' %}" style="background-color: rgb(18, 248, 18); color: black;">Условный оператор</a>
        <a href="{% url 'funksiya' %}">Функция</a>
        <a href="{% url 'while' %}">Цикл</a>
        <a href="{% url 'massiv' %}">Массив</a>
        <a href="{% url 'sinfobject' %}">Классы и объекты</a>
        <a href="{% url 'meros' %}">Наследование</a>
        <a href="{% url 'modul' %}">Модуль</a>
        <a href="{% url 'data' %}">Дата и время</a>
        <a href="{% url 'json' %}">JSON</a>
        <a href="{% url 'try' %}">Try Except</a>
        <a href="{% url 'fayl' %}">Работа с файлами</a>
        <a href="{% url 'index' %}">Тест для сертификата </a>
        <a href="{% url 'create_question' 1 %}">Создать тест</a>
    </div>
    <div class="main">
        <h1 style="padding-top: 100px;">If...Else (Условный оператор) <span>Python</span></h1> <br> <hr><br><br>
        <p>Язык программирования Python поддерживает общие математические логические операции. Итак, это:</p><br>
        <ul>
            <li>Равны: <b>a == b</b></li>
            <li>Не равны: <b>a != b</b></li>
            <li>Меньше: <b>a < b</b></li>
            <li>Меньше или равно <b>a <= b</b></li>
            <li>Больше: <b>a > b</b></li>
            <li>Больше или равно: <b>a >= b</b></li>
        </ul><br><br>

        <p>Вы можете процитировать вышеупомянутые термины в нескольких разных представлениях в одном условии. Я приведу пример для <b>if</b> условия в представлении ниже.</p><br>
        <p class="qoro">a = 13 <br>b = 15 <br>if b > a: <br><span style="margin-left: 24px;">print("число b больше числа a ")</span></p><br>
        <p class="rez">Результат: <p class="nat">число b больше числа a </p></p><br><br>

        <p>Классификация приведенного выше примера заключается в том, что переменные <b>a</b> и <b>b</b> являются частью, необходимой для выполнения операции <b>if</b>. Условие сравнивает <b>a</b> и <b>b</b> в процессе выполнения если число <b>b</b> больше чем <b>a</b> условие выполняется, на экран <b><i style="color: black;">число b больше числа a</i></b> выводится слово.</p><br><br><hr><br>
        
        <p class="sari"><b>Примечание:</b> В языке программирования Python в условии <b>if</b> или других операциях перед оператором оставляется пробел для записи кода той части, которая является его частью. <b>Помните:</b> в языке программирования C++ <b>if, for</b> и т. д. мы будем использовать <b>{ }</b> для записи операций!</p><br><hr><br><br>
        
        <p><b>Elif</b> - "Иначе, если" переходит к этому условию, если предшествующее ему условие <b>if</b> принимает ложное значение. <b><i style="color: black;">Не забывайте!!!</i></b> <b>elif</b> всегда <b>elif</b> или <b>if</b> приходит перед использованием.</p><br>
        <p class="qoro">a = 13 <br>b = 13 <br>if b > a: <br><span style="margin-left: 24px;">print("число b больше, чем a")</span> <br>elif a == b: <br><span style="margin-left: 24px;">print("a и b равны")</span></p><br>
        <p class="rez">Результат: <p class="nat">a va b teng.</p></p><br><br>
        
        <p><b>else</b> - не проверяет, является ли какое-либо условие истинным ложным, давая значение "иначе". <b>Else</b> работает, если все вышеперечисленные условия принимают ложь. <b><i style="color: black;">Не забывайте!!!</i></b> он не приходит один, как <b>elif</b>.</p><br>
        <p class="qoro">a = 13 <br>b = 15 <br>if b == a: <br><span style="margin-left: 24px;">print("Число b равно a")</span><br>else: <br><span style="margin-left: 24px;">print("число b не равно a!")</span><br></p><br>
        <p class="rez">Результат: <p class="nat">print("b soni a ga teng emas!")</p></p><br><br><br>

        <p><b class="abbo"><span style="color: red;">IF</span> краткая форма</b></p><br>
        <p>Вам нужно будет написать только одну строку, если вы хотите использовать короткое тело условия <b>if</b> в действии условия.</p><br>
        <p class="qoro">if a > b: print("a больше, чем b")</p><br>
        <p class="rez">Результат: <p class="nat">a больше, чем b</p></p><br><br>
        
        <p><b class="abbo"><span style="color: red;">IF...ELSE</span> краткая форма</b></p><br>
        <p>Краткая форма т. е. <b>if</b> и <b>else</b> для формирования массива условие, что наша операция сначала напишем операторы, которые принимают истинное значение, а затем введем операторы, для которых выполняется <b>else</b>.</p><br>
        <p class="qoro">a = 13 <br>b = 15 <br>print("A") if a > b else print("B")</p><br>
        <p class="rez">Результат: <p class="nat">B</p></p><br><br><hr><br>

        <p><b class="abbo">AND</b></p><br>
        <p><b>And</b> на практике логика верна только тогда, когда оба условия принимают истинное значение.</p><br>
        <p class="qoro">a = 13 <br>b = 15 <br>c = 19 <br>if a < b and c > a: <br><span style="margin-left: 24px;">print("Оба условия приняли истинное значение!")</span></p><br>
        <p class="rez">Результат: <p class="nat">оба условия приняли истинное значение!</p></p><br><br>

        <p><b class="abbo">OR</b></p><br>
        <p><b>Or</b> на практике логика верна только в том случае, если хотя бы одно из двух условий принимает истинное значение.</p><br>
        <p class="qoro">a = 13 <br>b = 15 <br>c = 19 <br>if a < b and c < a: <br><span style="margin-left: 24px;">print("Одно из двух условий принимает истинное значение!")</span></p><br>
        <p class="rez">Результат: <p class="nat">Одно из двух условий принимает истинное значение!</p></p><br><br>
        
        <p><b class="abbo">PASS</b></p><br>
        <p><b>If</b> не может быть тела условия, если вы не хотите выполнять какие-либо действия внутри оператора условия тогда вы <b>pass</b> можете применить.</p><br>
        <p class="qoro">a = 13 <br>b = 15 <br>if b > a: <br><span style="margin-left: 24px;">pass</span></p><br>
                
    </div>
    <footer>
        <h3><b>Uzbek Developers</b></h3><hr>
        <p>2024 © <a href="{% url 'kirish' %}"><b style="color: black;">Myblog IT</b></a></p>
        <p>Created by Muzaffar Bekturdiyev</p>
    </footer>
</body>
</html>