<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логика Python</title>
    <link rel="stylesheet" href="{% static 'style-kirish.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#chk1').click(function(){
                $('.sidenav').toggleClass('show');
            });
        });
    </script>
</head>
<body>
    <header>
        <input type="checkbox" name="" id="chk1">
        <div class="logo" ><h1><a href="{% url 'kirish' %}"><b>Python</b> course</a></h1></div>
        <div class="search-box">
            <form action="">
                <input type="text" name="search" id="srch" placeholder="Search...">
                <button type="sumbit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>

    <div class="sidenav">
        <h2 style="padding-top: 100px; text-align: center;">PYTHON</h2>
        <a href="{% url 'kirish' %}">Введение в Python</a>
        <a href="{% url 'ornatish' %}">Установка</a>
        <a href="{% url 'izoh' %}">Комментарии</a>
        <a href="{% url 'ozgaruvchi' %}">Переменная</a>
        <a href="{% url 'malumot_turi' %}">Типы данных</a>
        <a href="{% url 'sonlar' %}">Числа</a>
        <a href="{% url 'satr' %}">Строка</a>
        <a href="{% url 'mantiq' %}" style="background-color: rgb(18, 248, 18); color: black;">Boolean (Логика)</a>
        <a href="{% url 'operator' %}">Операторы</a>
        <a href="{% url 'list' %}">Список</a>
        <a href="{% url 'tuple' %}">Кортеж</a>
        <a href="{% url 'set' %}">Множество</a>
        <a href="{% url 'if' %}">Условный оператор</a>
        <a href="{% url 'funksiya' %}">Функция</a>
        <a href="{% url 'while' %}">Цикл</a>
        <a href="{% url 'massiv' %}">Массив</a>
        <a href="{% url 'sinfobject' %}">Классы и объекты</a>
        <a href="{% url 'meros' %}">Наследование</a>
        <a href="{% url 'modul' %}">Модуль</a>
        <a href="{% url 'data' %}">Дата и время</a>
        <a href="{% url 'json' %}">JSON</a>
        <a href="{% url 'try' %}">Try Except</a>
        <a href="{% url 'fayl' %}">Работа с файлами</a>
        <a href="{% url 'index' %}">Тест для сертификата </a>
        <a href="{% url 'create_question' 1 %}">Создать тест</a>
    </div>
    <div class="main">
        <h1 style="padding-top: 100px;">Boolean (Логика) <span>Python</span></h1> <br> <hr><br>
        <p>Что общего с большинством популярных сегодня языков программирования, так это логические выражения. На языке программирования мы с вами знаем истину (<b>True</b>) и ложь (<b>False</b>). <b>True</b> или <b>False</b> - это значения, возвращаемые при сравнении двух значений. Например:</p><br>
        <p class="qoro">print(10 > 9) <br> print(10 == 9) <br> print(10 < 9)</p><br>
        <p class="rez">Результат: <p class="nat">True <br>False <br>False</p></p><br><br>
        
        <p>Если вы инициализируете оператор условия <b>IF</b>, вам будет важно, вернут ли вам значения <b>True</b> или <b>False</b> и это то, что мы увидим в следующем примере.</p><br>
        <p class="qoro">a = 200 <br> b = 33 <br><br>if b > a: <br><span style="margin-left: 24px;">print("b больше, чем a")</span> <br> else: <br> <span style="margin-left: 24px;">print("b меньше, чем a")</span></p><br><br>
        <p class="rez">Результат: <p class="nat">b больше, чем a</p></p><br><br><hr><br>

        <p class="sari">У вас есть возможность оценить значение на языке программирования Python все, что вам нужно сделать, это использовать функцию <b>bool()</b>.</p><br><hr><br><br>
        
        <p class="qoro">print(bool("Hello")) <br>print(bool(15))</p><br>
        <p class="rez">Результат: <p class="nat">True <br>True</p></p><br><br><br>
        
        <p>В этом случае любое число возвращает значение <b>True</b> кроме <b>0</b>. В строках каждая непустая строка возвращает значение <b>True</b>.</p><br>
        <p class="qoro">bool("abc") <br> bool(123) <br> bool(["apple", "cherry", "banana"])</p><br>
        <p class="rez">Результат: <p class="nat">True <br>True <br>True</p></p><br><br><br>
        
        <p>Давайте посмотрим на некоторые процессы, которые возвращают значение False. Обратите внимания, что если заданы пустые значения <b>( ), [ ], { }, " ",</b> из чисел<b> 0, None</b>, он вернет False</p><br>
        <p class="qoro">bool(False) <br>bool(None) <br>bool(0) <br>bool("") <br>bool(()) <br>bool([]) <br>bool({})</p>
    </div>
    <footer>
        <h3><b>Uzbek Developers</b></h3><hr>
        <p>2024 © <a href="{% url 'kirish' %}"><b style="color: black;">Myblog IT</b></a></p>
        <p>Created by Muzaffar Bekturdiyev</p>
    </footer>
</body>
</html>