<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Операторы Python</title>
    <link rel="stylesheet" href="{% static 'style-kirish.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#chk1').click(function(){
                $('.sidenav').toggleClass('show');
            });
        });
    </script>
</head>
<body>
    <header>
        <input type="checkbox" name="" id="chk1">
        <div class="logo" ><h1><a href="{% url 'kirish' %}"><b>Python</b> course</a></h1></div>
        <div class="search-box">
            <form action="">
                <input type="text" name="search" id="srch" placeholder="Search...">
                <button type="sumbit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>

    <div class="sidenav">
        <h2 style="padding-top: 100px; text-align: center;">PYTHON</h2>
        <a href="{% url 'kirish' %}">Введение в Python</a>
        <a href="{% url 'ornatish' %}">Установка</a>
        <a href="{% url 'izoh' %}">Комментарии</a>
        <a href="{% url 'ozgaruvchi' %}">Переменная</a>
        <a href="{% url 'malumot_turi' %}">Типы данных</a>
        <a href="{% url 'sonlar' %}">Числа</a>
        <a href="{% url 'satr' %}">Строка</a>
        <a href="{% url 'mantiq' %}">Boolean (Логика)</a>
        <a href="{% url 'operator' %}" style="background-color: rgb(18, 248, 18); color: black;">Операторы</a>
        <a href="{% url 'list' %}">Список</a>
        <a href="{% url 'tuple' %}">Кортеж</a>
        <a href="{% url 'set' %}">Множество</a>
        <a href="{% url 'if' %}">Условный оператор</a>
        <a href="{% url 'funksiya' %}">Функция</a>
        <a href="{% url 'while' %}">Цикл</a>
        <a href="{% url 'massiv' %}">Массив</a>
        <a href="{% url 'sinfobject' %}">Классы и объекты</a>
        <a href="{% url 'meros' %}">Наследование</a>
        <a href="{% url 'modul' %}">Модуль</a>
        <a href="{% url 'data' %}">Дата и время</a>
        <a href="{% url 'json' %}">JSON</a>
        <a href="{% url 'try' %}">Try Except</a>
        <a href="{% url 'fayl' %}">Работа с файлами</a>
        <a href="{% url 'index' %}">Тест для сертификата </a>
        <a href="{% url 'create_question' 1 %}">Создать тест</a>
    </div>
    <div class="main">
        <h1 style="padding-top: 100px;">Операторы <span>Python</span></h1> <br> <hr><br>
        <p>Операторы нужны нам для работы над любой переменной или переменной. Для примера представьте, что в прошлом уроке мы познакомились с <b><a href="{% url 'mantiq' %}">Логическим</a></b> (Boolean) в котором мы получили значения <b>True</b> или <b>False</b> через оператор сравнения двух чисел или значений.</p><br><br>
        <p>Язык программирования Python имеет следующие операторы.</p><br>
        
        <ul>
            <li><b>Арифметические</b> операторы</li>
            <li>Операторы <b>присваивания</b></li>
            <li>Операторы <b>сравнения</b></li>
            <li><b>Логические</b> операторы</li>
            <li>Операторы <b>идентификации</b></li>
            <li>Операторы <b>членства</b></li>
            <li><b>Битовые</b> операторы</li>
        </ul><br><br>
        <p class="abbo"><b>Арифметические операторы Python</b></p><br>
        <p>Для выполнения общих математических операций используем арифметический оператор.</p><br>
        <p>
            <img src="{% static 'image/o1.png' %}" alt="">
        </p><br><br><br>

        <p class="abbo"><b>Операторы присваивания Python.</b></p><br>
        <p>Операторы разметки используются для присвоения значений переменной:</p><br>
        <p>
            <img src="{% static 'image/o2.png' %}" alt="">
        </p><br><br><br>

        <p class="abbo"><b>Операторы сравнения Python.</b></p><br>
        <p>Операторы сравнения используются для сравнения двух значений:</p><br>
        <p>
            <img src="{% static 'image/o3.png' %}" alt="">
        </p><br><br><br>

        <p class="abbo"><b>Логические операторы Python.</b></p><br>
        <p>Логические операторы используются для объединения условных операторов:</p><br>
        <p>
            <img src="{% static 'image/o4.png' %}" alt="">
        </p><br><br><br>
        
        <p class="abbo"><b>Операторы идентификации Python.</b></p><br>
        <p>
            <img src="{% static 'image/o5.png' %}" alt="">
        </p><br><br><br>

        <p class="abbo"><b>Операторы членства в Python.</b></p><br>
        <p>
            <img src="{% static 'image/o6.png' %}" alt="">
        </p><br><br><br>

        <p class="abbo"><b>Битовые операторы Python.</b></p><br>
        <p>
            <img src="{% static 'image/o7.png' %}" alt="">
        </p><br><br>
    </div>
    <footer>
        <h3><b>Uzbek Developers</b></h3><hr>
        <p>2024 © <a href="{% url 'kirish' %}"><b style="color: black;">Myblog IT</b></a></p>
        <p>Created by Muzaffar Bekturdiyev</p>
    </footer>
</body>
</html>